<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
    <form th:action="@{'/chat'}" th:object="${newChatForm}" action="#" method="POST">
<!--        <label for="username">Username:</label>-->
<!--        <input id="username" type="text" th:field="*{username}">-->
        <label for="messageText">Message Text:</label>
        <input id="messageText" type="text" th:field="*{messageText}">
        <label for="messageType">Message Type: </label>
        <select id="messageType" th:field="*{messageType}">
            <option
                    th:each="type : ${allMessageTypes}"
                    th:value="${type}"
                    th:text="${type}">Say</option>
        </select>
        <input id="submit_btn" type="submit">
    </form>
    <a id="logout_link" href="logout">Logout</a>
    <div th:each="chatMessage : ${messageList}">
        <span class="chatMessageUsername" th:text="${chatMessage.getUsername()}">username</span>: <span class="chatMessageText" th:text="${chatMessage.getMessageText()}">msg</span>
    </div>
</body>
</html>